node_modules
dist
.terajs/generated/*
!.terajs/generated/android/
!.terajs/generated/ios/
.terajs/generated/android/*
!.terajs/generated/android/.gitkeep
.terajs/generated/ios/*
!.terajs/generated/ios/.gitkeep
.terajs/hosts/*
!.terajs/hosts/android/
!.terajs/hosts/ios/
.terajs/hosts/android/*
!.terajs/hosts/android/.gitkeep
.terajs/hosts/ios/*
!.terajs/hosts/ios/.gitkeep